/*COLORS: ------------------

#ffa500 - orange
rgba(255,165,0,0.5) - orange with opacity 0.5
#271900 - brown
#ff2500 - red
#336d30 - green

COLORS END ---------------- */
/**/



/*FONT*/
@font-face {
  font-family: 'Mex';
  src: url('/fonts/mex.eot'); /* IE9 Compat Modes */
  src: url('/fonts/mex.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/fonts/mex.woff2') format('woff2'), /* Super Modern Browsers */
       url('/fonts/mex.woff') format('woff'), /* Pretty Modern Browsers */
       url('/fonts/mex.ttf')  format('truetype'),  /*Safari, Android, iOS*/
       url('/fonts/mex.svg#Mex') format('svg'); /* Legacy iOS */
}

/*FONT END*/




html, body {
  margin: 0;
  padding: 0;
  font-size: 62.5%;
}




/*HEADER -----------------------------------------------*/
header {
  background: #271900;
}
header #skull {
  width: 100vw;
  max-width: 100%;
  height: 100vh;
  margin: auto;
  padding-top: 5vh;
  display: block;
  position: relative;
  z-index: 1000;
}
header #skull p.name {
  font-family: 'Mex', sans-serif;
  text-align: center;
  color: #ffa500;
  font-size: 10vh;
  margin-top: -10vh;
  z-index: 1000;
}

header #skull p.name:hover {
  cursor: pointer;
}

header #skull p.profession {
  font-family: Inconsolata;
  font-size: 5vh;
  margin-top: -10vh;
  color: #ffa500;
  text-align: center;
}

header .arrow-triangle {
  z-index: 500;
  position: absolute;
  transform-origin: center center;
  transform: rotate(-45deg);
  width: 70px;
  height: 70px;
  bottom: -35px;
  left: calc(50% - 35px);
  background-color: #271900;
  border-right: 10px solid transparent;
  border-top: 10px solid transparent;
  border-left: 10px solid #336d30;
  border-bottom: 10px solid #336d30;
}

header #skull svg {
  height: 80vh;
  margin: auto;
  display: block;
}
header #skull svg image {
  /* animation: reveal 6s; */
  opacity: 0;
}
header #skull svg .st0, header #skull svg .st1, header #skull svg path {
  fill: none;
  stroke: #ffa500;
  stroke-width: 5;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
}
header #skull svg .st0.st1, header #skull svg .st1.st1, header #skull svg path.st1 {
  stroke-width: 2;
}
header #skull svg .st0.rotate, header #skull svg .st1.rotate, header #skull svg path.rotate {
  animation: rotate 3s infinite linear;
  animation-delay: 5s;
  transform-origin: 50% 50%;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes reveal {
  0% {
    opacity: 0;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/*HEADER END ----------------------------------------------------*/




/*MAIN -------------------------------------------------------------- */
main.content-wrapper#content-wrapper {
 box-sizing: border-box;
 display: block;
 margin: 0;
 padding: 0;
 border-top: 10px solid #336d30;
 font-family: Inconsolata;
}

section.about-me {
  width: 100vw;
  max-width: 100%;
  min-height: 100vh;
  margin: auto;
  background-color: rgba(255,165,0,0.5);
  position: relative;
  padding-top: 30px;
}
.about-me .avatar {
  width: 200px;
  height: 200px;
  text-align: center;
  margin-top: 30px;
  margin-right: auto;
  margin-left: auto;
  background-image: url(/assets/avatar-sprite.png);
  background-position: -5px;
  border: 5px solid #ffa500;
  border-radius: 80px;
  transition: border-radius 0.5s ease 0s;
}
.about-me .avatar:hover {
  background-position: -210px;
  border-radius: 100px;
}
.about-me h1 {
  font-size: 4rem;
  color: #271900;
  text-align: center;
}
.about-me p {
font-size: 2.5rem;
color: #271900;
text-align: center;
}
.about-me a.btn {
  display: block;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  font-size: 2.5rem;
  padding: 10px 20px;
  border: 2px solid #ff2500;
  width: 20vw;
}


section.my-work {}
section.types-of-projects {}
section.portfolio {}
section.lab {}
section.contacts {}

/*MAIN END ---------------------------------------------------------- */








/*FOOTER ------------------------------------------------------------- */
footer {

}
/*FOOTER END ---------------------------------------------------------- */