/*COLORS: ------------------

#ffa500 - orange
#271900 - brown
#ff2500 - red
#336d30 - green

COLORS END ---------------- */
/**/




/*FONT*/
@font-face {
  font-family: 'Mex';
  src: url('/fonts/mex.eot'); /* IE9 Compat Modes */
  src: url('/fonts/mex.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/fonts/mex.woff2') format('woff2'), /* Super Modern Browsers */
       url('/fonts/mex.woff') format('woff'), /* Pretty Modern Browsers */
       url('/fonts/mex.ttf')  format('truetype'),  /*Safari, Android, iOS*/
       url('/fonts/mex.svg#Mex') format('svg'); /* Legacy iOS */
}

/*FONT END*/




/*HEADER -----------------------------------------------*/
header {
  background: #271900;
}
header #skull {
  width: 100vw;
  height: 100vh;
  margin: auto;
  padding-top: 5vh;
  display: block;
}
header #skull p.name {
  font-family: 'Mex', sans-serif;
  text-align: center;
  color: #ffa500;
  font-size: 12vh;
  margin-top: -10vh;
}

header #skull p.name:hover {
  cursor: pointer;
}

header #skull button {
  display: block;
  color: rgba(255, 255, 255, 0.7);
  font-size: 16px;
  padding: 10px;
  margin: 10px auto;
  border-radius: 4px;
  border: none;
  background: rgba(255, 87, 25, 0.2);
}
header #skull button:hover {
  background: rgba(255, 87, 25, 0.3);
  outline: none;
  cursor: pointer;
}
header #skull svg {
  height: 85vh;
  margin: auto;
  display: block;
}
header #skull svg image {
  /* animation: reveal 6s; */
  opacity: 0;
}
header #skull svg .st0, header #skull svg .st1, header #skull svg path {
  fill: none;
  stroke: #ffa500;
  stroke-width: 5;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
}
header #skull svg .st0.st1, header #skull svg .st1.st1, header #skull svg path.st1 {
  stroke-width: 2;
}
header #skull svg .st0.rotate, header #skull svg .st1.rotate, header #skull svg path.rotate {
  animation: rotate 3s infinite linear;
  animation-delay: 5s;
  transform-origin: 50% 50%;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes reveal {
  0% {
    opacity: 0;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/*HEADER END ----------------------------------------------------*/